		.bee-row,
		.bee-row-content {
			position: relative
		}

		.bee-row-1,
		.bee-row-1 .bee-row-content {
			background-repeat: no-repeat
		}

		.bee-button-content {
			text-align: center
		}

		body {
			background-color: #1f1f1f;
			color: #000000;
			font-family: Arial, Helvetica, sans-serif
		}

		a {
			color: #7747FF
		}

		* {
			box-sizing: border-box
		}

		body,
		h1,
		p {
			margin: 0
		}

		.bee-row-content {
			max-width: 765px;
			margin: 0 auto;
			display: flex
		}

		.bee-row-content .bee-col-w12 {
			flex-basis: 100%
		}

		.bee-button a {
			text-decoration: none
		}

		.bee-divider {
			overflow: auto
		}

		.bee-divider .center {
			margin: 0 auto
		}

		.bee-paragraph {
			overflow-wrap: anywhere
		}

		@media (max-width:785px) {
			.bee-row-content:not(.no_stack) {
				display: block
			}
		}

		.bee-row-1 .bee-row-content {
			color: #000000
		}

		.bee-row-1 .bee-col-1 {
			padding-bottom: 5px;
			padding-top: 5px
		}

		.bee-row-1 .bee-col-1 .bee-block-1 {
			padding: 10px;
			text-align: center;
			width: 100%
		}

		.bee-row-1 .bee-col-1 .bee-block-2,
		.bee-row-1 .bee-col-1 .bee-block-3,
		.bee-row-1 .bee-col-1 .bee-block-5,
		.bee-row-1 .bee-col-1 .bee-block-6,
		.bee-row-1 .bee-col-1 .bee-block-7,
		.bee-row-1 .bee-col-1 .bee-block-9 {
			padding: 10px
		}

		.bee-row-1 .bee-col-1 .bee-block-10 {
			padding: 10px;
			text-align: left
		}

		.bee-row-1 .bee-col-1 .bee-block-3,
		.bee-row-1 .bee-col-1 .bee-block-5,
		.bee-row-1 .bee-col-1 .bee-block-6,
		.bee-row-1 .bee-col-1 .bee-block-7,
		.bee-row-1 .bee-col-1 .bee-block-9 {
			color: #ffffff;
			direction: ltr;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 120%;
			text-align: left
		}

		.bee-row-1 .bee-col-1 .bee-block-3 a,
		.bee-row-1 .bee-col-1 .bee-block-5 a,
		.bee-row-1 .bee-col-1 .bee-block-6 a,
		.bee-row-1 .bee-col-1 .bee-block-7 a,
		.bee-row-1 .bee-col-1 .bee-block-9 a {
			color: #479dff
		}

		.bee-row-1 .bee-col-1 .bee-block-3 p:not(:last-child),
		.bee-row-1 .bee-col-1 .bee-block-5 p:not(:last-child),
		.bee-row-1 .bee-col-1 .bee-block-6 p:not(:last-child),
		.bee-row-1 .bee-col-1 .bee-block-7 p:not(:last-child),
		.bee-row-1 .bee-col-1 .bee-block-9 p:not(:last-child) {
			margin-bottom: 16px
		}

		.bee-row-1 .bee-col-1 .bee-block-1 h1 {
			color: #ffffff;
			direction: ltr;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 38px;
			font-weight: 700;
			letter-spacing: normal;
			line-height: 120%;
			text-align: left
		}

		.bee-row-1 .bee-col-1 .bee-block-10 a {
			background-color: #3d3d3d;
			border-radius: 4px;
			color: #ffffff;
			direction: ltr;
			font-family: inherit;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 200%;
			padding: 5px 20px;
			width: auto
		}
